<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cliente Amarelux</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src='main.js'></script>
  </head>
  <body>
    <% if(dados.length > 0){ %>
      <% for(i=0;i<dados.length;i++){ %>
        <p><%= dados[i].nome_cli %></p>
        <p><%= dados[i].cep %></p>
        <p><%= dados[i].endereco %></p>
        <p><%= dados[i].telefone %></p>
    <%}}else{%>
      <h2>Nenhum cliente encontrado!</h2>
    <%}%>
      <a href="/intramarelux" class="btn btn-outline-dark">Procurar outro cliente</a>  
  </body>
</html>